<div class="col-5 mb-4 mt-4">
  <div class="mb-2" style="font-weight: bold">Burgers to be eaten</div>
  {{#each allBurgers}}
    {{#unless eaten}}
    <span>
        <div class="mt-2 mb-2">{{this.id}}. {{this.name}}</div>
    </span>
      <span>
        <button class="eat btn btn-danger" data-id="{{this.id}}">Nom nom</button>
      </span>
    {{/unless}}
  {{/each}}
</div>

<div class="col-5 mb-4 mt-4">
  <div class="mb-2" style="font-weight: bold">Burgers eaten</div>
  {{#each allBurgers}}
    {{#if eaten}}
      <div style="text-decoration: line-through" class="mt-2 mb-2">{{this.id}}. {{this.name}}</div>
    {{/if}}
  {{/each}}
</div>

<script>
  $('.eat').on('click', function(event) {
    event.preventDefault();
    console.log($(this).attr('data-id'))
    let selectedId = $(this).attr('data-id');
    let eat = {
      eaten: 1
    }
    
    $.ajax('/api/burgers/' + selectedId, {
      type: 'PUT',
      data: eat
    }).then( location.reload() )
  })
</script>